doctype html
html
	include meta
//- head
//- 	include meta
body
	.loading
		.txt.f30 
			| LOADING.. 
			i 0
			| %
	.calendarPop.hide
		.bg
		.wrap.f30
			.clozBtn 
			h1.f40 - 加入行事曆 -
			a.btn.blueBtn(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NWFpdDFkdGs4dWthODluaHJzMTl1aDJzdTQgcXA1ajJ2cnVsMnVyY2NmcWo0cTBxb3V0dW9AZw&tmsrc=qp5j2vrul2urccfqj4q0qoutuo%40group.calendar.google.com",target='_blank') 加入google行事曆
			.tt (ios/android適用)
			a.btn.greenBtn(href="event.ics",target='_blank') 加入手機行事曆
			.tt (ios safari 適用)


	.bigContainer.hide
		.container.channel_1
			.bg
			

			.page.p1
				.wrap
					.t1.bAni
					.t2.bAni
					.t3.bAni
					.t4.bAni
					.t5.bAni
					.t6.bAni
					.t7.bAni
					
			.page.p2
				.wrap
					.t1.lAni
					.t2.lAni
					.t3.lAni
					.t4.rAni
			.page.p3
				.wrap
					.t4.lAni
					.t1.lAni
					.t2.rAni
					.t3.rAni
					.t5.lAni
					.t6.lAni
					.t7.rAni
					.t9.lAni
					.t8.rotateAni
			.page.p4
				.wrap
					.t1.lAni
					.t2.lAni
					.t3.lAni
					.t4.lAni
					.t5.lAni
			.page.p5
				.wrap
					.t1.rAni
					.t2.lAni
					.t3.lAni
					.t4.lAni
					.t5.lAni
					.t6.lAni
			.page.p6
				.wrap
					.t1.lAni
					.t2.rAni
					.t3.lAni
					.t4.lAni
					.t5.lAni
					.t6.lAni		
			.page.notAutoLayout.p7
				.wrap
					.t1.tAni
					.btnBox.tAni
						.t2.calendarBtn
						.t3.homeBtn
						.t4.mapBtn
						.t5.tripBtn
			.arr

			//- .logo
			//- .logo2
			//- .bb

			

	.loadPicWrap(style='display:none')
		img(src='images/arr.png')
		img(src='images/bg1.png')
		img(src='images/bg2.png')
		img(src='images/bg3.png') 
		img(src='images/bg4.png')
		img(src='images/cloz.png')
		img(src='images/p1_1.png')
		img(src='images/p1_2.png')
		img(src='images/p1_3.png')
		img(src='images/p1_4.png')
		img(src='images/p1_5.png')
		img(src='images/p2_1.png')
		img(src='images/p2_2.png')
		img(src='images/p2_3.png')
		img(src='images/p2_4.png')
		img(src='images/p3_1.png')
		img(src='images/p3_2.png')
		img(src='images/p3_3.png')
		img(src='images/p3_4.png')
		img(src='images/p3_5.png')
		img(src='images/p3_6.png')
		img(src='images/p3_7.png')
		img(src='images/p3_8.png')
		img(src='images/p3_9.png')
		img(src='images/p4_1.png')
		img(src='images/p4_2.png')
		img(src='images/p4_3.png')
		img(src='images/p4_4.png')
		img(src='images/p4_5.png')
		img(src='images/p5_1.png')
		img(src='images/p5_2.png')
		img(src='images/p5_3.png')
		img(src='images/p5_4.png')
		img(src='images/p5_5.png')
		img(src='images/p5_6.png')
		img(src='images/p6_1.png')
		img(src='images/p6_2.png')
		img(src='images/p6_3.png')
		img(src='images/p6_4.png')
		img(src='images/p6_5.png')
		img(src='images/p7_1.png')
		img(src='images/p7_2.png')
		img(src='images/p7_3.png')
		img(src='images/p7_4.png')
		img(src='images/p7_5.png')
		img(src='images/p7_6.png')

	
	script(type='text/javascript', src='js/index.js')
