doctype html
html
	include meta
//- head
//- 	include meta
body
	.loading.hide
		.f30 
			| LOADING.. 
			i 0
			| %
	.calendarPop.hide
		.bg
		.wrap.f30
			.clozBtn 
			h1.f40 - 加入行事曆 -
			a.btn.blueBtn(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=c2drYTk4Z3RpMms1ZzRlNXBqZXV2cTk2ajggcXA1ajJ2cnVsMnVyY2NmcWo0cTBxb3V0dW9AZw&tmsrc=qp5j2vrul2urccfqj4q0qoutuo%40group.calendar.google.com",target='_blank') 加入google行事曆
			.tt (ios/android適用)
			a.btn.greenBtn(href="event.ics",target='_blank') 加入手機行事曆
			.tt (ios safari 適用)


	.bigContainer
		.container.channel_6
			.bg
			

			.page.p1
				.wrap
					.t1
					.t2
					.t3
					.t4
					.t5
					.t6
					.t7
					
			.page.p2
				.wrap
					.t1
					.t2
					.t3
					.t4
					.t5
					.t6
					.t7
			.page.p3
				.wrap
					.t1
					.t2
					.t3
					.t4
					.t5
					.t6
					.t7
					.t8
					.t9
			.page.p4
				.wrap
					.t1
					.t2
					.t3
					.t4
					.t5
					.t6
					.t7
			.page.p5
				.wrap
					.t1
					.t2
					.t3
					.t4
					.t5
					.t6
					.t7
					
			.page.notAutoLayout.p6
				.wrap
					.t1
					.btnBox
						.t2.calendarBtn
						.t3
						.t4
						.t5
			.arr

			//- .logo
			//- .logo2
			//- .bb

			

	.loadPicWrap(style='display:none')
		//- img(src='images/arr.png')
		

	
	script(type='text/javascript', src='js/index.js')
